/*header*/
header{text-align:center; background-image: url("img/IMG_20180110_083523889ch.jpg"); background-size: cover}
#creative {text-align: left}
nav {text-align: right}
#Sofia {width: 30%; height: 30%}
#fondo {width: 50%; height: 50%}
#social {width: 20%; height: 20%}
h1 {}

/*header*/
/*main*/
main {background-color: gray}
/*main*/
